<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   Bleu

   Created by 1amageek on 2018/10/11.
   Copyright (c) 2018 Stamp inc. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
